@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    font-family: 'Inter';
}

html, body {
    height: 100%;
    width: 100%;

}
body {
    background-color: skyblue;
}

.section {
    padding: 40px 30px 20px;
    height: 200px;
    color: white;
    text-align: left;
    line-height: 30px;
}

.card {
    margin: 20px auto;
    background-color: white;
    width: 90%;
    border-radius: 8px;
}

.section:nth-of-type(1) {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    margin: 30px;
}

.section img {
    width: 40%;
    border-radius: 100%;
}

.section h1 {
    color: rgb(56, 56, 56);
    margin: 10px;
}

.section h4 {
    color: #777;
    font-size: 16px;
}

.section h5 {
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.26);
    margin-bottom: 20px;
}

.section p {
    font-weight: 200;
    color: whitesmoke;
}

.section span {
    text-decoration: underline;

}

.section:nth-of-type(2) {
    background-color: #4299EF;
}

.section ul {
    padding-left: 0;
}

.section ul li {
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: 200;
}

ul li::before {
    content: '➡️  ';
    padding-right: 3px;
}

.section:nth-of-type(3) {
    background-color: #3288ED;
}

.section:nth-of-type(4) {
    background-color: #277DE3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.all-social {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.social {
    padding: 8px 15px;
    border: 1px solid rgb(255, 255, 255, 0.26);
    border-radius: 3px;
    margin: 5px;
    font-size: 14px;
}